{
  "openapi": "3.1.1",
  "info": {
    "title": "ModelScope OpenAPI",
    "description": "魔搭社区 OpenAPI 文档",
    "version": "1.1.0",
    "termsOfService": "https://www.modelscope.cn/protocol/%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC",
    "contact": {
      "name": "modelscope",
      "url": "https://www.modelscope.cn/protocol/%E8%81%94%E7%B3%BB%E6%88%91%E4%BB%AC",
      "email": "contact@modelscope.cn"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://modelscope.cn/openapi/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "User",
      "description": "用户相关接口"
    },
    {
      "name": "Models",
      "description": "模型相关接口"
    },
    {
      "name": "Datasets",
      "description": "数据集相关接口"
    },
    {
      "name": "MCP",
      "description": "MCP 服务相关接口"
    },
    {
      "name": "Studios",
      "description": "创空间相关接口"
    },
    {
      "name": "Skills",
      "description": "技能相关接口"
    },
    {
      "name": "Files",
      "description": "文件上传相关接口"
    }
  ],
  "externalDocs": {
    "description": "了解更多关于 ModelScope 的信息",
    "url": "https://modelscope.cn"
  },
  "paths": {
    "/users/me": {
      "get": {
        "operationId": "getCurrentUser",
        "summary": "获取当前用户信息",
        "description": "获取当前已认证用户的个人信息。",
        "tags": [
          "User"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-current-user-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/models": {
      "get": {
        "operationId": "listModels",
        "summary": "获取模型列表",
        "description": "列出模型",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "针对模型名称、作者（包括组织、个人）的子字符串关键词进行搜索",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "examples": [
                "Qwen",
                "glm"
              ]
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "针对模型作者（包括组织、个人）进行搜索",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "iic",
                "ZhipuAI"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "排序方式",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "downloads",
                "likes",
                "last_modified"
              ],
              "default": "default",
              "examples": [
                "default",
                "downloads",
                "likes",
                "last_modified"
              ]
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "页码，限制 page_number * page_size <= 3000",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                1
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页大小，限制 page_number * page_size <= 3000",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "examples": [
                10
              ]
            }
          },
          {
            "name": "filter.task",
            "in": "query",
            "description": "按任务筛选（示例：text-generation / image-captioning）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "text-generation",
                "image-captioning"
              ]
            }
          },
          {
            "name": "filter.library",
            "in": "query",
            "description": "按库/框架筛选（示例：pytorch / safetensors / diffusers / transformer）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "pytorch",
                "safetensors",
                "diffusers",
                "transformer"
              ]
            }
          },
          {
            "name": "filter.model_type",
            "in": "query",
            "description": "按模型类型筛选（示例：qwen3_moe / glm4v）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "qwen3_moe",
                "glm4v"
              ]
            }
          },
          {
            "name": "filter.custom_tag",
            "in": "query",
            "description": "按自定义标签筛选（示例：llm）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "common-crawl",
                "markdown",
                "math",
                "html-parsing"
              ]
            }
          },
          {
            "name": "filter.license",
            "in": "query",
            "description": "按许可证筛选（示例：Apache License 2.0 / MIT License）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "Apache License 2.0",
                "MIT License"
              ]
            }
          },
          {
            "name": "filter.deploy",
            "in": "query",
            "description": "按部署方式筛选（示例：swingdeploy）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "swingdeploy"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-models-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/models/{owner}/{repo_name}": {
      "get": {
        "operationId": "getModel",
        "summary": "获取模型详情",
        "description": "根据 owner/repo_name 获取模型详情",
        "tags": [
          "Models"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-model-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/datasets": {
      "get": {
        "operationId": "listDatasets",
        "summary": "获取数据集列表",
        "description": "列出数据集",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "针对数据集中文名称、数据集英文名称、作者（包括组织、个人）的子字符串关键词进行搜索",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 100,
              "examples": [
                "ImageNet",
                "中文语料库"
              ]
            }
          },
          {
            "name": "owner",
            "in": "query",
            "description": "针对数据集作者（包括组织、个人）进行搜索",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "modelscope",
                "AI-ModelScope"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "排序方式",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "default",
                "downloads",
                "likes",
                "last_modified"
              ],
              "default": "default",
              "examples": [
                "default",
                "downloads",
                "likes",
                "last_modified"
              ]
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "页码，限制 page_number * page_size <= 3000",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1,
              "examples": [
                1
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页大小，限制 page_number * page_size <= 3000",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10,
              "examples": [
                10
              ]
            }
          },
          {
            "name": "filter.task",
            "in": "query",
            "description": "按任务筛选（示例：text-classification）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "text-classification"
              ]
            }
          },
          {
            "name": "filter.license",
            "in": "query",
            "description": "按许可证筛选（示例：Apache License 2.0 / cc-by-4.0）",
            "required": false,
            "schema": {
              "type": "string",
              "examples": [
                "Apache License 2.0",
                "cc-by-4.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-datasets-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/datasets/{owner}/{repo_name}": {
      "get": {
        "operationId": "getDataset",
        "summary": "获取数据集详情",
        "description": "根据 owner/repo_name 获取数据集详情",
        "tags": [
          "Datasets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/owner"
          },
          {
            "$ref": "#/components/parameters/repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-dataset-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mcp/servers": {
      "put": {
        "operationId": "listMcpServers",
        "summary": "获取MCP服务列表",
        "description": "返回查询的 ModelScope MCP 广场服务列表",
        "tags": [
          "MCP"
        ],
        "requestBody": {
          "description": "查询参数",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string",
                    "description": "支持针对服务中文名称、服务英文名称、作者/所有者用户名进行搜索"
                  },
                  "filter": {
                    "type": "object",
                    "description": "筛选条件",
                    "properties": {
                      "category": {
                        "type": "string",
                        "description": "指定筛选类别标签。与tag,is_hosted同时传入时,取三者的交集",
                        "examples": [
                          "communication"
                        ]
                      },
                      "is_hosted": {
                        "type": "boolean",
                        "description": "指定筛选hosted或未hosted MCP服务。与tag,category同时传入时,取三者的交集",
                        "examples": [
                          true
                        ]
                      }
                    }
                  },
                  "page_number": {
                    "type": "integer",
                    "description": "页码，默认为 1，限制 page_number * page_size <= 100",
                    "default": 1
                  },
                  "page_size": {
                    "type": "integer",
                    "description": "每页大小，默认为20，限制 page_number * page_size <= 100",
                    "default": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-mcp-servers-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mcp/servers/operational": {
      "get": {
        "operationId": "listOperationalMcpServers",
        "summary": "获取用户托管MCP服务列表",
        "description": "获取用户托管MCP服务列表",
        "tags": [
          "MCP"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-operational-mcp-servers-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mcp/servers/{id}": {
      "get": {
        "operationId": "getMcpServer",
        "summary": "获取指定MCP服务详情",
        "description": "返回指定 MCP 服务的详细信息",
        "tags": [
          "MCP"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/mcp_server_id"
          },
          {
            "name": "get_operational_url",
            "in": "query",
            "description": "传入true时返回当前用户在modelscope上托管的MCP服务链接（例如SSE_URL），默认false",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-mcp-server-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mcp/servers/{id}/deploy": {
      "post": {
        "operationId": "deployMcpServer",
        "summary": "部署MCP服务",
        "description": "部署MCP服务",
        "tags": [
          "MCP"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/mcp_server_id"
          }
        ],
        "requestBody": {
          "description": "部署参数",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transport_type": {
                    "type": "string",
                    "description": "传输方式: sse/streamable_http",
                    "enum": [
                      "sse",
                      "streamable_http"
                    ],
                    "examples": [
                      "streamable_http"
                    ]
                  },
                  "expiration_minutes": {
                    "type": "integer",
                    "description": "有效期（分钟），-1 代表长期有效",
                    "examples": [
                      -1,
                      60,
                      1440
                    ]
                  },
                  "auth_check": {
                    "type": "boolean",
                    "description": "远程 url 连接时是否需要提供魔搭访问令牌鉴权",
                    "default": false
                  },
                  "env_info": {
                    "type": "object",
                    "description": "MCP环境变量，具体需要传入的环境变量可在获取指定MCP服务详情接口返回的 env_schema 字段中获取",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/deploy-mcp-server-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/mcp/servers/{id}/undeploy": {
      "delete": {
        "operationId": "undeployMcpServer",
        "summary": "解除MCP服务部署",
        "description": "解除MCP服务部署",
        "tags": [
          "MCP"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/mcp_server_id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/undeploy-mcp-server-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/service-unavailable"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios": {
      "post": {
        "operationId": "createStudio",
        "summary": "创建创空间",
        "description": "创建一个新的 Studio（创空间）",
        "tags": [
          "Studios"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateStudioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/create-studio-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/hardware": {
      "get": {
        "operationId": "listHardware",
        "summary": "查询可用硬件配置",
        "description": "查询创空间可用的硬件配置列表。\n- 未登录：返回默认免费硬件\n- 已登录：返回用户可用的免费硬件和带价格的付费硬件\n- 已登录且指定创空间：免费硬件以该创空间的可用免费资源为准\n- 付费资源：使用 `paid/<InstanceType>` 作为创建或更新 Studio 时的 `hardware` 参数值\n- `sdk_type` 用于按 `supported_sdk_types` 过滤硬件配置\n",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "name": "sdk_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/StudioSDKType"
            },
            "description": "过滤支持该 SDK 类型的硬件"
          },
          {
            "name": "studio",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "创空间路径（owner/repo_name），指定后返回该创空间可选的硬件"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-hardware-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      }
    },
    "/studios/sdk-versions": {
      "get": {
        "operationId": "listSdkVersions",
        "summary": "查询可用 SDK 版本",
        "description": "查询创空间可用的 SDK 版本列表。\n仅当 `sdk_type=gradio` 时返回 Gradio 版本列表；其他 SDK 类型或未传 `sdk_type` 时返回空列表。\n",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "name": "sdk_type",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/StudioSDKType"
            },
            "description": "SDK 类型，仅 `gradio` 返回版本列表",
            "example": "gradio"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-sdk-versions-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      }
    },
    "/studios/base-images": {
      "get": {
        "operationId": "listBaseImages",
        "summary": "查询可用基础镜像",
        "description": "查询创空间可用的基础镜像列表，登录与否返回结果一致",
        "tags": [
          "Studios"
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-base-images-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      }
    },
    "/studios/{owner}/{repo_name}": {
      "get": {
        "operationId": "getStudio",
        "summary": "获取创空间详情",
        "description": "获取指定 Studio 的详细信息。\n公开（public）和公开体验（protected）类型的创空间无需认证即可访问；私有（private）创空间需要认证。\n",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-studio-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {}
        ]
      }
    },
    "/studios/{owner}/{repo_name}/settings": {
      "patch": {
        "operationId": "updateStudioSettings",
        "summary": "更新创空间设置",
        "description": "更新指定 Studio 的设置，传入哪个字段修改哪个字段，不传的字段不修改。注意：sdk_type、sdk_version、base_image、hardware 修改后需重新部署才能生效",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStudioSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-studio-settings-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/{owner}/{repo_name}/secrets": {
      "get": {
        "operationId": "listStudioSecrets",
        "summary": "获取创空间密文变量列表",
        "description": "获取指定 Studio 的所有密文变量 key 列表，不返回 value",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取密文变量列表",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStudioSecretsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "addStudioSecret",
        "summary": "添加创空间密文变量",
        "description": "为指定的 Studio 添加一个密文变量，value 不会公开展示",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "description": "添加密文变量请求参数",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStudioSecretRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "operationId": "updateStudioSecret",
        "summary": "更新创空间密文变量",
        "description": "更新指定 Studio 的一个密文变量值",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "description": "更新密文变量请求参数",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStudioSecretRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteStudioSecret",
        "summary": "删除创空间密文变量",
        "description": "删除指定 Studio 的一个密文变量",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "description": "删除密文变量请求参数",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteStudioSecretRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/{owner}/{repo_name}/variables": {
      "get": {
        "operationId": "listStudioVariables",
        "summary": "获取创空间明文变量列表",
        "description": "获取指定 Studio 的所有明文变量的 key 和 value（与密文变量不同，明文变量的值公开可见）",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-studio-variables-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "operationId": "addStudioVariable",
        "summary": "添加创空间明文变量",
        "description": "为指定的 Studio 添加一个明文变量（key 和 value 都公开可见，敏感信息请使用密文变量接口）",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStudioVariableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "409": {
            "$ref": "#/components/responses/conflict"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "put": {
        "operationId": "updateStudioVariable",
        "summary": "更新创空间明文变量",
        "description": "更新指定 Studio 的一个明文变量值",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateStudioVariableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "operationId": "deleteStudioVariable",
        "summary": "删除创空间明文变量",
        "description": "删除指定 Studio 的一个明文变量",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteStudioVariableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-operation-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/{owner}/{repo_name}/deploy": {
      "post": {
        "operationId": "deployStudio",
        "summary": "部署创空间",
        "description": "部署指定的 Studio（会重新拉取代码并重建），无论当前状态是停止还是运行中均可调用",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-runtime-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/{owner}/{repo_name}/stop": {
      "post": {
        "operationId": "stopStudio",
        "summary": "停止创空间",
        "description": "停止指定的 Studio",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/studio-runtime-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/studios/{owner}/{repo_name}/logs/{log_type}": {
      "get": {
        "operationId": "getStudioLogs",
        "summary": "获取创空间日志",
        "description": "获取指定 Studio 的运行日志",
        "tags": [
          "Studios"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/studio_owner"
          },
          {
            "$ref": "#/components/parameters/studio_repo_name"
          },
          {
            "$ref": "#/components/parameters/studio_log_type"
          },
          {
            "name": "page_num",
            "in": "query",
            "description": "页码，默认 1",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页数量，默认 100，最大 500",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 500
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "关键字过滤",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_timestamp",
            "in": "query",
            "description": "开始时间戳（秒），可不填，自动根据 end_timestamp 计算",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_timestamp",
            "in": "query",
            "description": "结束时间戳（秒），可不填，默认当前时间",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-studio-logs-success"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/not-found"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/skills": {
      "get": {
        "operationId": "listSkills",
        "summary": "获取技能列表",
        "description": "返回 ModelScope 技能广场的技能列表，支持关键词搜索与多维度筛选",
        "tags": [
          "Skills"
        ],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "关键词搜索，支持技能名称、描述等",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter.developer",
            "in": "query",
            "description": "按开发者筛选",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "amap-web": {
                "value": "AMap-Web",
                "summary": "开发者 AMap-Web"
              }
            }
          },
          {
            "name": "filter.category",
            "in": "query",
            "description": "按分类筛选",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SkillCategory"
            },
            "examples": {
              "developer-tools": {
                "value": "developer-tools",
                "summary": "开发工具"
              },
              "ai-media": {
                "value": "ai-media",
                "summary": "AI 媒体"
              }
            }
          },
          {
            "name": "filter.license",
            "in": "query",
            "description": "按许可证筛选",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "mit": {
                "value": "MIT License",
                "summary": "MIT 许可证"
              }
            }
          },
          {
            "name": "filter.custom_tag",
            "in": "query",
            "description": "按自定义标签筛选",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "api-design": {
                "value": "api-design",
                "summary": "API 设计"
              }
            }
          },
          {
            "name": "filter.owner",
            "in": "query",
            "description": "按所有者筛选",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_number",
            "in": "query",
            "description": "页码，从 1 开始",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "每页条数",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/list-skills-success"
          },
          "400": {
            "$ref": "#/components/responses/skill-bad-request"
          },
          "401": {
            "$ref": "#/components/responses/skill-unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/skill-internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/skill-service-unavailable"
          }
        }
      },
      "post": {
        "operationId": "createSkill",
        "summary": "创建技能",
        "description": "创建一个新的 Skill（技能）。\n\n创建流程：\n1. 先调用 `POST /files/upload` 上传 Skill 项目文件（zip 包，根目录必须且仅可包含 1 个 SKILL.md 文件），获取 `file_id`。\n2. 再调用本接口传入 `skill_file`（上一步返回的 file_id）及其他元信息完成创建。\n\n注意：`skill_name` 仅允许小写字母、数字和连字符，创建后不可修改；`owner` 创建后不可修改。\n",
        "tags": [
          "Skills"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSkillRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/create-skill-success"
          },
          "400": {
            "$ref": "#/components/responses/skill-bad-request"
          },
          "401": {
            "$ref": "#/components/responses/skill-unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "409": {
            "$ref": "#/components/responses/skill-conflict"
          },
          "500": {
            "$ref": "#/components/responses/skill-internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/skills/{id}": {
      "get": {
        "operationId": "getSkill",
        "summary": "获取指定技能详情",
        "description": "根据技能 ID 返回指定技能的详细信息，ID 格式为 @author/skill_name（例如 @Alipay/alipay-payment-integration），其中 @ 和 / 无需 URL 编码",
        "tags": [
          "Skills"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "技能 ID，格式为 @author/skill_name，其中 @ 和 / 无需 URL 编码",
            "required": true,
            "schema": {
              "type": "string"
            },
            "examples": {
              "alipay-payment": {
                "value": "@Alipay/alipay-payment-integration",
                "summary": "支付宝支付集成"
              },
              "summarize": {
                "value": "@steipete/summarize",
                "summary": "内容总结"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/get-skill-success"
          },
          "401": {
            "$ref": "#/components/responses/skill-unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/skill-not-found"
          },
          "500": {
            "$ref": "#/components/responses/skill-internal-server-error"
          },
          "503": {
            "$ref": "#/components/responses/skill-service-unavailable"
          }
        }
      }
    },
    "/skills/{owner}/{skill_name}/settings": {
      "patch": {
        "operationId": "updateSkillSettings",
        "summary": "更新技能设置",
        "description": "更新指定 Skill 的设置，传入哪个字段修改哪个字段，不传的字段不修改保持原值。\n\n语义说明：\n- `skill_file` 传入时整体覆盖原有项目文件；不传则保留原文件不变。\n- `tags` 传入时整体覆盖原标签列表。\n- `logo_url` 传空字符串时恢复为平台默认图标。\n- `skill_name` 和 `owner` 创建后不可修改，故不在本接口内。\n",
        "tags": [
          "Skills"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/skill_owner_path"
          },
          {
            "$ref": "#/components/parameters/skill_name_path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSkillSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/update-skill-settings-success"
          },
          "400": {
            "$ref": "#/components/responses/skill-bad-request"
          },
          "401": {
            "$ref": "#/components/responses/skill-unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/forbidden"
          },
          "404": {
            "$ref": "#/components/responses/skill-not-found"
          },
          "500": {
            "$ref": "#/components/responses/skill-internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/files/upload": {
      "post": {
        "operationId": "uploadFile",
        "summary": "上传文件",
        "description": "上传文件（最大 5MB），返回文件 ID。用于后续创建/更新 Skill 等场景。",
        "tags": [
          "Files"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UploadFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/upload-file-success"
          },
          "400": {
            "$ref": "#/components/responses/bad-request"
          },
          "401": {
            "$ref": "#/components/responses/unauthorized"
          },
          "413": {
            "$ref": "#/components/responses/bad-request"
          },
          "500": {
            "$ref": "#/components/responses/internal-server-error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "allOf": [
          {
            "$ref": "#/components/schemas/UserPublic"
          },
          {
            "$ref": "#/components/schemas/UserPrivate"
          }
        ],
        "description": "用户完整信息(包含私有信息)"
      },
      "UserResponse": {
        "type": "object",
        "description": "用户信息响应",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功响应时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/User",
            "description": "用户信息"
          },
          "request_id": {
            "type": "string",
            "description": "请求ID",
            "examples": [
              "4d3f4b7d-95be-4e6f-95eb-d75178375bd2"
            ]
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "description": "错误响应格式",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "错误响应时始终为 false",
            "examples": [
              false
            ]
          },
          "code": {
            "type": "string",
            "description": "错误码",
            "examples": [
              "InputParameterError"
            ]
          },
          "message": {
            "type": "string",
            "description": "错误消息",
            "examples": [
              "Unauthorized access"
            ]
          },
          "request_id": {
            "type": "string",
            "description": "请求ID",
            "examples": [
              "4d3f4b7d-95be-4e6f-95eb-d75178375bd2"
            ]
          }
        },
        "required": [
          "success",
          "code",
          "message",
          "request_id"
        ]
      },
      "Model": {
        "type": "object",
        "description": "模型摘要信息",
        "properties": {
          "id": {
            "type": "string",
            "description": "模型仓库名（repo_id，格式为 owner/repo_name）",
            "examples": [
              "iic/QwenLong-L1.5-30B-A3B",
              "ZhipuAI/AutoGLM-Phone-9B"
            ]
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "模型展示名称",
            "examples": [
              "QwenLong-L1.5-30B-A3B",
              "AutoGLM-Phone-9B"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "模型简介",
            "examples": [
              ""
            ]
          },
          "downloads": {
            "type": "integer",
            "description": "下载量",
            "examples": [
              1466,
              28525
            ]
          },
          "likes": {
            "type": "integer",
            "description": "喜欢量",
            "examples": [
              25,
              265
            ]
          },
          "license": {
            "type": [
              "string",
              "null"
            ],
            "description": "许可证",
            "examples": [
              "apache-2.0",
              "MIT License"
            ]
          },
          "tasks": {
            "type": "array",
            "description": "任务列表",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "text-generation"
              ],
              [
                "image-captioning"
              ]
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "创建时间（ISO 8601 UTC）",
            "examples": [
              "2025-12-14T12:26:15Z"
            ]
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "description": "Git 文件或设置的最后修改时间（ISO 8601 UTC）",
            "examples": [
              "2025-12-16T03:34:26Z"
            ]
          },
          "file_size": {
            "type": "integer",
            "description": "文件大小（字节）",
            "examples": [
              61081671123
            ]
          },
          "params": {
            "type": "integer",
            "description": "参数量",
            "examples": [
              30532122624
            ]
          },
          "tags": {
            "type": "array",
            "description": "标签列表",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "license:apache-2.0",
                "model_type:qwen3_moe",
                "library:transformer",
                "library:safetensors",
                "library:pytorch",
                "task:text-generation",
                "deploy:swingdeploy"
              ]
            ]
          },
          "private": {
            "type": "boolean",
            "description": "是否非公开模型",
            "examples": [
              false
            ]
          },
          "gated": {
            "type": "boolean",
            "description": "是否申请制模型，通过申请后可访问",
            "examples": [
              false
            ]
          }
        },
        "required": [
          "id",
          "downloads",
          "likes",
          "tasks",
          "created_at",
          "last_modified",
          "file_size",
          "params",
          "private",
          "gated"
        ]
      },
      "ModelList": {
        "type": "object",
        "description": "模型列表与分页信息",
        "properties": {
          "models": {
            "type": "array",
            "description": "结果模型列表",
            "items": {
              "$ref": "#/components/schemas/Model"
            }
          },
          "total_count": {
            "type": "integer",
            "description": "符合筛选条件的模型总数",
            "examples": [
              43127
            ]
          },
          "page_number": {
            "type": "integer",
            "description": "当前页码",
            "examples": [
              1
            ]
          },
          "page_size": {
            "type": "integer",
            "description": "每页大小",
            "examples": [
              10
            ]
          }
        },
        "required": [
          "models",
          "total_count",
          "page_number",
          "page_size"
        ]
      },
      "ModelListResponse": {
        "type": "object",
        "description": "列出模型的标准响应包裹格式",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/ModelList",
            "description": "模型列表数据"
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID",
            "examples": [
              "4d3f4b7d-95be-4e6f-95eb-d75178375bd3"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "request_id"
        ]
      },
      "ModelDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Model"
          },
          {
            "type": "object",
            "description": "模型详情信息",
            "properties": {
              "readme": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "README 内容",
                "examples": [
                  "hello"
                ]
              }
            }
          }
        ]
      },
      "ModelDetailResponse": {
        "type": "object",
        "description": "获取模型详情的标准响应包裹格式",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/ModelDetail",
            "description": "模型详情数据"
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID",
            "examples": [
              "4d3f4b7d-95be-4e6f-95eb-d75178375bd3"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "request_id"
        ]
      },
      "Dataset": {
        "type": "object",
        "description": "数据集摘要信息",
        "properties": {
          "id": {
            "type": "string",
            "description": "数据集仓库名（repo_id，格式为 owner/repo_name）",
            "examples": [
              "DAMO_NLP/jd",
              "iic/nlp_domain_classification_chinese_testset"
            ]
          },
          "display_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "数据集展示名称",
            "examples": [
              "商品评论情感预测",
              "中文文本领域分类测试集"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "数据集简介",
            "examples": [
              "",
              "..."
            ]
          },
          "file_size": {
            "type": "integer",
            "description": "文件大小（字节）",
            "examples": [
              0
            ]
          },
          "downloads": {
            "type": "integer",
            "description": "下载量",
            "examples": [
              53996,
              2401
            ]
          },
          "likes": {
            "type": "integer",
            "description": "喜欢量",
            "examples": [
              102,
              23
            ]
          },
          "license": {
            "type": [
              "string",
              "null"
            ],
            "description": "许可证",
            "examples": [
              "Apache License 2.0",
              "cc-by-4.0"
            ]
          },
          "tasks": {
            "type": "array",
            "description": "任务列表",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "text-classification"
              ],
              []
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "创建时间（ISO 8601 UTC）",
            "examples": [
              "2022-09-28T06:30:31Z",
              "2025-11-25T14:30:22Z"
            ]
          },
          "last_modified": {
            "type": "string",
            "format": "date-time",
            "description": "Git 文件或设置的最后修改时间（ISO 8601 UTC）",
            "examples": [
              "2022-10-30T03:36:39Z",
              "2026-01-01T00:31:42Z"
            ]
          },
          "tags": {
            "type": "array",
            "description": "标签列表",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "license:Apache License 2.0",
                "task:text-classification"
              ],
              [
                "license:cc-by-4.0",
                "custom_tag:common-crawl"
              ]
            ]
          },
          "private": {
            "type": "boolean",
            "description": "是否非公开数据集",
            "examples": [
              false
            ]
          },
          "gated": {
            "type": "boolean",
            "description": "是否申请制数据集，通过申请后可访问",
            "examples": [
              false
            ]
          },
          "login_required": {
            "type": "boolean",
            "description": "是否登录后才可下载",
            "examples": [
              false
            ]
          }
        },
        "required": [
          "id",
          "downloads",
          "likes",
          "private",
          "gated",
          "login_required",
          "created_at",
          "last_modified"
        ]
      },
      "DatasetList": {
        "type": "object",
        "description": "数据集列表与分页信息",
        "properties": {
          "datasets": {
            "type": "array",
            "description": "结果数据集列表",
            "items": {
              "$ref": "#/components/schemas/Dataset"
            }
          },
          "total_count": {
            "type": "integer",
            "description": "符合筛选条件的数据集总数",
            "examples": [
              60
            ]
          },
          "page_number": {
            "type": "integer",
            "description": "当前页码",
            "examples": [
              1
            ]
          },
          "page_size": {
            "type": "integer",
            "description": "每页大小",
            "examples": [
              10
            ]
          }
        },
        "required": [
          "datasets",
          "total_count",
          "page_number",
          "page_size"
        ]
      },
      "DatasetListResponse": {
        "type": "object",
        "description": "列出数据集的标准响应包裹格式",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/DatasetList",
            "description": "数据集列表数据"
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID",
            "examples": [
              "4d3f4b7d-95be-4e6f-95eb-d75178375bd3"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "request_id"
        ]
      },
      "DatasetDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Dataset"
          },
          {
            "type": "object",
            "description": "数据集详情信息",
            "properties": {
              "readme": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "README 内容",
                "examples": [
                  "hello"
                ]
              }
            }
          }
        ]
      },
      "DatasetDetailResponse": {
        "type": "object",
        "description": "获取数据集详情的标准响应包裹格式",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/DatasetDetail",
            "description": "数据集详情数据"
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID",
            "examples": [
              "4d3f4b7d-95be-4e6f-95eb-d75178375bd3"
            ]
          }
        },
        "required": [
          "success",
          "data",
          "request_id"
        ]
      },
      "McpServerLocale": {
        "type": "object",
        "description": "MCP服务在对应语言环境下的内容",
        "properties": {
          "name": {
            "type": "string",
            "description": "MCP服务在对应语言环境下的服务名称",
            "examples": [
              "Fetch网页内容抓取"
            ]
          },
          "description": {
            "type": "string",
            "description": "MCP服务在对应语言环境下的服务简介",
            "examples": [
              "该服务器使大型语言模型能够检索和处理网页内容..."
            ]
          },
          "readme": {
            "type": "string",
            "description": "MCP服务介绍（仅详情接口返回）",
            "examples": [
              "# Fetch MCP Server..."
            ]
          }
        }
      },
      "McpServerLocales": {
        "type": "object",
        "description": "不同语言环境下的内容展示",
        "properties": {
          "zh": {
            "$ref": "#/components/schemas/McpServerLocale",
            "description": "中文环境"
          },
          "en": {
            "$ref": "#/components/schemas/McpServerLocale",
            "description": "英文环境"
          }
        }
      },
      "McpOperationalUrl": {
        "type": "object",
        "description": "MCP服务托管链接信息",
        "properties": {
          "id": {
            "type": "string",
            "description": "MCP服务链接命名标识",
            "examples": [
              "platform-pool"
            ]
          },
          "url": {
            "type": "string",
            "description": "MCP服务远程连接地址",
            "examples": [
              "https://mcp.api-inference.modelscope.net/xxxx/mcp"
            ]
          },
          "transport_type": {
            "type": "string",
            "description": "MCP服务链接传输方式",
            "examples": [
              "streamable_http",
              "sse"
            ]
          },
          "auth_required": {
            "type": "boolean",
            "description": "远程 url 连接时是否需要提供魔搭访问令牌鉴权",
            "examples": [
              false
            ]
          },
          "expiration": {
            "type": "string",
            "description": "MCP服务链接有效期",
            "examples": [
              "2025-10-01 21:00:00"
            ]
          },
          "accessible": {
            "type": "boolean",
            "description": "是否有权限访问该MCP服务详情。当所有者设置为非公开或MCP服务被删除时，无权访问。",
            "examples": [
              true
            ]
          }
        }
      },
      "McpServerSummary": {
        "type": "object",
        "description": "MCP服务摘要信息",
        "properties": {
          "id": {
            "type": "string",
            "description": "服务ID。由平台后台收录的MCP，ID 默认为@author/server_name，当被社区用户认领后将会变更为user_name/server_name；由社区用户自发提交的MCP，ID 为user_name/server_name。",
            "examples": [
              "@modelcontextprotocol/fetch"
            ]
          },
          "name": {
            "type": "string",
            "description": "MCP服务在魔搭社区的名称",
            "examples": [
              "Fetch网页内容抓取"
            ]
          },
          "chinese_name": {
            "type": "string",
            "description": "MCP服务在魔搭社区的中文名称",
            "examples": [
              "Fetch网页内容抓取"
            ]
          },
          "description": {
            "type": "string",
            "description": "MCP服务简介",
            "examples": [
              "该服务器使大型语言模型能够检索和处理网页内容..."
            ]
          },
          "logo_url": {
            "type": "string",
            "description": "logo图片URL链接",
            "examples": [
              "https://resources.modelscope.cn/..."
            ]
          },
          "publisher": {
            "type": "string",
            "description": "发布时原始ID",
            "examples": [
              "@modelcontextprotocol/fetch"
            ]
          },
          "categories": {
            "type": "array",
            "description": "该MCP服务所属分类",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "browser-automation"
              ]
            ]
          },
          "tags": {
            "type": "array",
            "description": "该MCP服务的标签列表",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "browser-automation"
              ]
            ]
          },
          "view_count": {
            "type": "integer",
            "description": "该MCP服务的累计访问量",
            "examples": [
              30667
            ]
          },
          "locales": {
            "$ref": "#/components/schemas/McpServerLocales"
          }
        },
        "required": [
          "id"
        ]
      },
      "McpServerDetail": {
        "type": "object",
        "description": "MCP服务详细信息",
        "allOf": [
          {
            "$ref": "#/components/schemas/McpServerSummary"
          },
          {
            "type": "object",
            "properties": {
              "author": {
                "type": "string",
                "description": "MCP服务开发者",
                "examples": [
                  "modelcontextprotocol"
                ]
              },
              "owner": {
                "type": "string",
                "description": "MCP服务归属的魔搭用户/组织ID",
                "examples": [
                  ""
                ]
              },
              "readme": {
                "type": "string",
                "description": "MCP服务介绍",
                "examples": [
                  "# Fetch MCP Server..."
                ]
              },
              "source_url": {
                "type": "string",
                "description": "MCP服务来源项目主页地址",
                "examples": [
                  "https://github.com/modelcontextprotocol/..."
                ]
              },
              "github_stars": {
                "type": "integer",
                "description": "该 MCP 服务对应 github 原始仓库的 stars 数量",
                "examples": [
                  1234
                ]
              },
              "is_hosted": {
                "type": "boolean",
                "description": "该MCP服务是否支持托管部署",
                "examples": [
                  true
                ]
              },
              "is_verified": {
                "type": "boolean",
                "description": "托管MCP服务是否经过平台验证测试",
                "examples": [
                  true
                ]
              },
              "env_schema": {
                "type": "object",
                "description": "该服务连接部署的环境变量配置",
                "additionalProperties": true
              },
              "server_config": {
                "type": "array",
                "description": "MCP服务配置信息",
                "items": {}
              },
              "operational_urls": {
                "type": "array",
                "description": "当get_operational_url=True且当前用户已连接该 MCP 服务时则返回，否则为空",
                "items": {
                  "$ref": "#/components/schemas/McpOperationalUrl"
                }
              }
            }
          }
        ]
      },
      "McpServerOperational": {
        "type": "object",
        "description": "用户托管的MCP服务信息",
        "allOf": [
          {
            "$ref": "#/components/schemas/McpServerSummary"
          },
          {
            "type": "object",
            "properties": {
              "operational_urls": {
                "type": "array",
                "description": "MCP服务托管链接列表",
                "items": {
                  "$ref": "#/components/schemas/McpOperationalUrl"
                }
              }
            }
          }
        ]
      },
      "McpServerListResponse": {
        "type": "object",
        "description": "MCP服务列表响应",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/McpServerList",
            "description": "MCP服务列表数据"
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "examples": [
              "success"
            ]
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID",
            "examples": [
              "c55709d2-4e09-4bd8-be84-d8518bc46363"
            ]
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "McpServerOperationalListResponse": {
        "type": "object",
        "description": "用户托管MCP服务列表响应",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/McpServerOperationalList",
            "description": "用户托管MCP服务列表数据"
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "examples": [
              "success"
            ]
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID",
            "examples": [
              "c55709d2-4e09-4bd8-be84-d8518bc46363"
            ]
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "McpServerDetailResponse": {
        "type": "object",
        "description": "MCP服务详情响应",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/McpServerDetail",
            "description": "MCP服务详情数据"
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "examples": [
              "success"
            ]
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID",
            "examples": [
              "c55709d2-4e09-4bd8-be84-d8518bc46363"
            ]
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "McpDeployResponse": {
        "type": "object",
        "description": "MCP服务部署响应",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功时始终为 true",
            "examples": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/McpOperationalUrl",
            "description": "部署后的MCP服务链接信息"
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "examples": [
              "success"
            ]
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID",
            "examples": [
              "c55709d2-4e09-4bd8-be84-d8518bc46363"
            ]
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "McpUndeployResponse": {
        "type": "object",
        "description": "MCP服务解除部署响应",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "成功时始终为 true",
            "examples": [
              true
            ]
          },
          "message": {
            "type": "string",
            "description": "响应消息",
            "examples": [
              "success"
            ]
          },
          "request_id": {
            "type": "string",
            "description": "请求 ID",
            "examples": [
              "c55709d2-4e09-4bd8-be84-d8518bc46363"
            ]
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "StudioHardware": {
        "type": "string",
        "description": "硬件配置，修改后需重新部署才能生效。\n可用值不固定，请通过 `GET /studios/hardware` 接口查询当前可用的硬件配置列表。\n免费资源常见格式为 `platform/...`、`xgpu/...`、`amd/...`；付费资源格式为 `paid/<InstanceType>`，例如 `paid/ecs.gn7i-c8g1.2xlarge`。\n",
        "examples": [
          "platform/2v-cpu-16g-mem",
          "paid/ecs.gn7i-c8g1.2xlarge"
        ]
      },
      "StudioSDKType": {
        "type": "string",
        "description": "SDK 类型，修改后需重新部署才能生效",
        "enum": [
          "gradio",
          "streamlit",
          "docker",
          "static"
        ]
      },
      "StudioSDKVersion": {
        "type": "string",
        "description": "SDK 版本，仅对 Gradio 类型生效，默认最新版，建议选用最新版本，修改后需重新部署才能生效。\n可用版本会随平台更新，请通过 `GET /studios/sdk-versions?sdk_type=gradio` 查询当前可用的 Gradio 版本列表。\n",
        "examples": [
          "6.2.0"
        ]
      },
      "StudioBaseImage": {
        "type": "string",
        "description": "基础镜像，仅 Docker 类型不支持，建议选用最新版本，修改后需重新部署才能生效。\n可用值不固定，请通过 `GET /studios/base-images` 接口查询当前可用的基础镜像列表。\n",
        "examples": [
          "ubuntu22.04-py311-torch2.9.1-modelscope1.35.0"
        ]
      },
      "CreateStudioRequest": {
        "type": "object",
        "description": "创建 Studio 请求参数",
        "properties": {
          "repo_name": {
            "type": "string",
            "description": "仓库名称",
            "maxLength": 64,
            "examples": [
              "my-demo-app"
            ]
          },
          "owner": {
            "type": "string",
            "description": "所有者（用户名或组织名）",
            "examples": [
              "username"
            ]
          },
          "display_name": {
            "type": "string",
            "description": "显示名称",
            "maxLength": 128,
            "examples": [
              "我的演示应用"
            ]
          },
          "license": {
            "type": "string",
            "description": "许可证，默认 apache-2.0",
            "default": "apache-2.0",
            "examples": [
              "apache-2.0"
            ]
          },
          "visibility": {
            "$ref": "#/components/schemas/StudioVisibility"
          },
          "private": {
            "type": "boolean",
            "description": "Deprecated: 请使用 visibility 字段",
            "deprecated": true,
            "default": false
          },
          "description": {
            "type": "string",
            "description": "描述",
            "maxLength": 2000,
            "examples": [
              "这是一个演示应用"
            ]
          },
          "cover_image": {
            "type": "string",
            "description": "封面图 URL，为空时使用平台默认图"
          },
          "sdk_type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StudioSDKType"
              }
            ],
            "default": "gradio"
          },
          "sdk_version": {
            "$ref": "#/components/schemas/StudioSDKVersion"
          },
          "base_image": {
            "$ref": "#/components/schemas/StudioBaseImage"
          },
          "hardware": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StudioHardware"
              }
            ],
            "default": "platform/2v-cpu-16g-mem",
            "description": "硬件配置。未传时使用默认免费硬件配置"
          }
        },
        "required": [
          "repo_name",
          "owner"
        ]
      },
      "CreateStudioResponse": {
        "type": "object",
        "description": "创建 Studio 响应",
        "properties": {
          "success": {
            "type": "boolean",
            "examples": [
              true
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Studio ID (owner/repo_name)",
                "examples": [
                  "username/my-demo-app"
                ]
              },
              "repo_name": {
                "type": "string",
                "description": "仓库名称",
                "examples": [
                  "my-demo-app"
                ]
              },
              "display_name": {
                "type": "string",
                "description": "显示名称",
                "examples": [
                  "我的演示应用"
                ]
              },
              "owner": {
                "type": "string",
                "description": "所有者",
                "examples": [
                  "username"
                ]
              },
              "url": {
                "type": "string",
                "description": "Studio URL",
                "examples": [
                  "https://modelscope.cn/studios/username/my-demo-app"
                ]
              }
            }
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "StudioConfig": {
        "type": "object",
        "description": "Studio 运行时配置",
        "properties": {
          "hardware": {
            "$ref": "#/components/schemas/StudioHardware"
          },
          "base_image": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StudioBaseImage"
              }
            ],
            "description": "基础镜像（Docker 类型不返回）"
          },
          "sdk_type": {
            "$ref": "#/components/schemas/StudioSDKType"
          },
          "sdk_version": {
            "type": "string",
            "description": "SDK 版本（仅 gradio 类型返回）"
          }
        }
      },
      "StudioRuntime": {
        "type": "object",
        "description": "Studio 运行时信息",
        "properties": {
          "status": {
            "type": "string",
            "description": "运行状态",
            "enum": [
              "Initialized",
              "Building",
              "BuildFailed",
              "Deploying",
              "DeployFailed",
              "Running",
              "Stopping",
              "Stopped",
              "Duplicating",
              "Sleeping"
            ]
          },
          "active_config": {
            "description": "当前实际运行中的配置",
            "$ref": "#/components/schemas/StudioConfig"
          },
          "created_at": {
            "type": "string",
            "description": "部署时间"
          },
          "error_message": {
            "type": "string",
            "description": "失败信息（仅在错误状态时返回）"
          }
        }
      },
      "GetStudioResponse": {
        "type": "object",
        "description": "获取 Studio 详情响应",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Studio ID (owner/repo_name)"
              },
              "repo_name": {
                "type": "string",
                "description": "仓库名称"
              },
              "display_name": {
                "type": "string",
                "description": "显示名称"
              },
              "owner": {
                "type": "string",
                "description": "所有者"
              },
              "description": {
                "type": "string",
                "description": "描述"
              },
              "cover_image": {
                "type": "string",
                "description": "封面图 URL"
              },
              "likes": {
                "type": "integer",
                "description": "喜欢数"
              },
              "view_count": {
                "type": "integer",
                "description": "访问量"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "visibility": {
                "$ref": "#/components/schemas/StudioVisibility"
              },
              "private": {
                "type": "boolean",
                "description": "Deprecated: 请使用 visibility 字段",
                "deprecated": true
              },
              "last_modified": {
                "type": "string",
                "description": "最后修改时间"
              },
              "sdk_type": {
                "$ref": "#/components/schemas/StudioSDKType"
              },
              "sdk_version": {
                "$ref": "#/components/schemas/StudioSDKVersion"
              },
              "hardware": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/StudioHardware"
                  }
                ],
                "description": "期望的硬件配置（数据库中保存的值）"
              },
              "base_image": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/StudioBaseImage"
                  }
                ],
                "description": "期望的基础镜像（Docker 类型不返回）"
              },
              "license": {
                "type": "string",
                "description": "许可证"
              },
              "host": {
                "type": "string",
                "description": "访问地址"
              },
              "mcp_support": {
                "type": "boolean",
                "description": "是否支持 MCP"
              },
              "runtime": {
                "$ref": "#/components/schemas/StudioRuntime"
              }
            }
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "UpdateStudioSettingsRequest": {
        "type": "object",
        "description": "更新 Studio 设置请求参数（传入哪个字段修改哪个字段）",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "显示名称",
            "maxLength": 128
          },
          "license": {
            "type": "string",
            "description": "许可证"
          },
          "visibility": {
            "$ref": "#/components/schemas/StudioVisibility"
          },
          "private": {
            "type": "boolean",
            "description": "Deprecated: 请使用 visibility 字段",
            "deprecated": true
          },
          "description": {
            "type": "string",
            "description": "描述",
            "maxLength": 2000
          },
          "cover_image": {
            "type": "string",
            "description": "封面图 URL"
          },
          "sdk_type": {
            "$ref": "#/components/schemas/StudioSDKType"
          },
          "sdk_version": {
            "$ref": "#/components/schemas/StudioSDKVersion"
          },
          "base_image": {
            "$ref": "#/components/schemas/StudioBaseImage"
          },
          "hardware": {
            "allOf": [
              {
                "$ref": "#/components/schemas/StudioHardware"
              }
            ],
            "description": "硬件配置，修改后需重新部署才能生效"
          }
        }
      },
      "AddStudioSecretRequest": {
        "type": "object",
        "description": "添加 Studio 密文变量请求参数",
        "properties": {
          "key": {
            "type": "string",
            "description": "密文变量名称",
            "maxLength": 128,
            "examples": [
              "API_KEY"
            ]
          },
          "value": {
            "type": "string",
            "description": "密文变量值（添加后不会公开展示）",
            "maxLength": 4096,
            "examples": [
              "sk-xxxxxxxxxxxx"
            ]
          }
        },
        "required": [
          "key",
          "value"
        ]
      },
      "UpdateStudioSecretRequest": {
        "type": "object",
        "description": "更新 Studio 密文变量请求参数",
        "properties": {
          "key": {
            "type": "string",
            "description": "密文变量名称",
            "maxLength": 128,
            "examples": [
              "API_KEY"
            ]
          },
          "value": {
            "type": "string",
            "description": "密文变量新值",
            "maxLength": 4096,
            "examples": [
              "sk-xxxxxxxxxxxx"
            ]
          }
        },
        "required": [
          "key",
          "value"
        ]
      },
      "StudioSecretItem": {
        "type": "object",
        "description": "密文变量列表项（仅返回 key，不返回 value）",
        "properties": {
          "key": {
            "type": "string",
            "description": "密文变量名称"
          }
        },
        "required": [
          "key"
        ]
      },
      "ListStudioSecretsResponse": {
        "type": "object",
        "description": "获取 Studio 密文变量列表响应",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "secrets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StudioSecretItem"
                }
              }
            }
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "data",
          "request_id"
        ]
      },
      "DeleteStudioSecretRequest": {
        "type": "object",
        "description": "删除 Studio 密文变量请求参数",
        "properties": {
          "key": {
            "type": "string",
            "description": "密文变量名称"
          }
        },
        "required": [
          "key"
        ]
      },
      "StudioRuntimeResponse": {
        "type": "object",
        "description": "Studio 运行时操作响应",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/StudioRuntime"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "StudioLogsResponse": {
        "type": "object",
        "description": "获取 Studio 日志响应",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "logs": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "page_num": {
                "type": "integer"
              },
              "page_size": {
                "type": "integer"
              },
              "total_count": {
                "type": "integer"
              },
              "total_page_num": {
                "type": "integer"
              }
            }
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "SuccessResponse": {
        "type": "object",
        "description": "通用成功响应",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "StudioVisibility": {
        "type": "string",
        "description": "创空间可见性：\n- public: 代码和体验都公开\n- protected: 体验公开，代码仓库不可见\n- private: 都不公开\n",
        "enum": [
          "public",
          "protected",
          "private"
        ]
      },
      "HardwareItem": {
        "type": "object",
        "description": "硬件配置项。免费资源仅返回基础标识字段；付费资源会返回 ECS 规格、资源明细和价格字段",
        "properties": {
          "name": {
            "type": "string",
            "description": "OpenAPI hardware 参数值。付费资源格式为 `paid/<InstanceType>`",
            "examples": [
              "platform/2v-cpu-16g-mem",
              "paid/ecs.gn7i-c8g1.2xlarge"
            ]
          },
          "resource_type": {
            "type": "string",
            "description": "资源类型，free 表示平台免费资源，paid 表示使用用户自己的云账号付费部署",
            "enum": [
              "free",
              "paid"
            ]
          },
          "instance_type": {
            "type": "string",
            "description": "ECS 规格名，仅付费资源返回",
            "examples": [
              "ecs.gn7i-c8g1.2xlarge"
            ]
          },
          "cpu": {
            "type": "integer",
            "description": "CPU 核数，仅付费资源返回"
          },
          "gpu": {
            "type": "integer",
            "description": "GPU 数量，仅付费资源返回"
          },
          "memory": {
            "type": "integer",
            "description": "内存（GB），仅付费资源返回"
          },
          "gpu_type": {
            "type": "string",
            "description": "GPU 类型，仅付费资源返回"
          },
          "gpu_memory": {
            "type": "integer",
            "description": "显存（GB），仅付费资源返回"
          },
          "supported_sdk_types": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "支持的 SDK 类型"
          },
          "has_stock": {
            "type": "boolean",
            "description": "是否有库存，仅付费资源返回"
          },
          "stock": {
            "type": "integer",
            "description": "库存数量"
          },
          "cost_after_discount": {
            "type": "number",
            "format": "float",
            "description": "折后价格，仅付费资源返回"
          },
          "original_cost": {
            "type": "number",
            "format": "float",
            "description": "原价，仅付费资源返回"
          }
        }
      },
      "ListHardwareResponse": {
        "type": "object",
        "description": "查询可用硬件配置响应",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "hardware": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HardwareItem"
                }
              }
            }
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "SDKVersionItem": {
        "type": "object",
        "description": "SDK 版本项",
        "properties": {
          "sdk_type": {
            "type": "string",
            "description": "SDK 类型",
            "examples": [
              "gradio"
            ]
          },
          "tag": {
            "type": "string",
            "description": "版本标签",
            "examples": [
              "latest"
            ]
          },
          "version": {
            "type": "string",
            "description": "SDK 版本",
            "examples": [
              "6.2.0"
            ]
          }
        },
        "required": [
          "sdk_type",
          "tag",
          "version"
        ]
      },
      "ListSDKVersionsResponse": {
        "type": "object",
        "description": "查询可用 SDK 版本响应",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "sdk_versions": {
                "type": "array",
                "description": "SDK 版本列表。仅 `sdk_type=gradio` 时返回 Gradio 版本列表；其他 SDK 类型返回空数组",
                "items": {
                  "$ref": "#/components/schemas/SDKVersionItem"
                }
              },
              "total_count": {
                "type": "integer",
                "format": "int64",
                "description": "SDK 版本总数"
              }
            }
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "BaseImageItem": {
        "type": "object",
        "description": "基础镜像项",
        "properties": {
          "name": {
            "type": "string",
            "description": "镜像名称",
            "examples": [
              "ubuntu22.04-py311-torch2.9.1-modelscope1.35.0"
            ]
          },
          "tag": {
            "type": "string",
            "description": "标签",
            "examples": [
              "latest"
            ]
          }
        }
      },
      "ListBaseImagesResponse": {
        "type": "object",
        "description": "查询可用基础镜像响应",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "base_images": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BaseImageItem"
                }
              }
            }
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "request_id"
        ]
      },
      "AddStudioVariableRequest": {
        "type": "object",
        "description": "添加 Studio 明文变量请求参数（key 和 value 都公开可见，敏感信息请使用密文变量接口）",
        "properties": {
          "key": {
            "type": "string",
            "description": "明文变量名称",
            "maxLength": 128,
            "examples": [
              "GRADIO_TEMP_DIR"
            ]
          },
          "value": {
            "type": "string",
            "description": "明文变量值",
            "maxLength": 4096,
            "examples": [
              "/tmp/gradio"
            ]
          }
        },
        "required": [
          "key",
          "value"
        ]
      },
      "UpdateStudioVariableRequest": {
        "type": "object",
        "description": "更新 Studio 明文变量请求参数",
        "properties": {
[...]
